.check-group {
    background: #fff;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
    counter-reset: total;
    counter-reset: checked;
}

.check-group-cards {
    background: #fff;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
    counter-reset: total;
    counter-reset: checked;
}

.check-group>*+* {
    margin-top: 0.75rem;
}

.check-group .checkbox {
    counter-increment: total;
}

.check-group input[type=checkbox]:checked {
    counter-increment: checked;
}

.check-group__result {
    font-weight: bold;
    padding-top: 0.75rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.check-group__result:after {
    content: counter(checked) " / " counter(total);
    padding-left: 1ch;
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox__input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;
}

.checkbox__input:checked+.checkbox__icon .tick {
    stroke-dashoffset: 0;
}

.checkbox__icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;
}

.checkbox__icon .tick {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    transition: stroke-dashoffset 0.2s ease-out;
}

.checkbox__label {
    margin-left: 0.5em;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.card-img-top {
    padding: 10px;
    border-radius: 6px !important;
}

.products-card {
    background: #fff;
    width: 100% !important;
    padding: 1.5rem;
    border-radius: 0.5rem;
    counter-reset: total;
    counter-reset: checked;
}

.products-code {
    color: #999;
    font-size: 10px;
}

.card-background {
    gap: 16px;
}


@media screen and (max-width: 600px) {
    .card-img-top {
        height: 100% !important;
    }
}