.container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.cont{
    width: 350px !important;
    height: 420px !important;
    background-color: transparent;
    border: 1px solid rgb(209, 196, 196);
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-family: 'Pacifico', cursive !important;
    font-size: 40px;
    margin-top: 20px;
    padding: 10px;
    color:black;
}
.set{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inps{
    width: 300px;
    height: 40px;
    background-color: transparent;
    background-color: rgb(252, 247, 247);
    border: 1px solid rgb(235, 232, 232);
    font-size: 12px;
    margin-top: 12px;
}
.butt{
    width: 300px;
    height: 40px;
    background-color: rgb(81, 196, 235);
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;

}
.txt{
   text-transform: uppercase;
   margin-top: 15px;
   color: rgb(153, 149, 149);;
}
.txt::before{
    content:" ";
    height: 2px;
    width: 120px;
    background:rgb(187, 183, 183);
    display: block;
    position: absolute;
    left: 50px !important;
    margin-top: 10px;
}
.txt::after{
    content:" ";
    height: 2px;
    width: 120px;
    background:rgb(187, 183, 183);
    display: block;
    position: absolute;
    left: 220px !important;
    margin-top: -14px;
   
}
.bi-facebook{
    color: rgb(43, 43, 148);
}
.set1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.txt1{
    color:rgb(43, 43, 148); 
    margin-left: 20px;
    margin-top: 17px;
    font-weight: bold;
}
.sec3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(209, 196, 196);
    width: 350px;
    height: 55px;
    margin-top: 20px
}
.link{
    margin-left: 10px;
    margin-top: -20px;
}
.sec4{
    width: 350px;
    height: 40px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subsec1{
margin-top: 30px;
}
.subsec{
  margin-top: -10px;
}